.title{
    font-size: 24px;
    color:#52796F;
    border-bottom: #52796F solid 1px;
    height: 40px;
    font-variation-settings: "wght" 300;
}

@media (min-width: 1024px) {
    .title{
        font-size: 42px;
        height:auto;
        margin: 15px 0;
    }

  }