.links{
    display: flex;
    flex-direction: column;
}
.links a{
    margin-top:16px;
    text-decoration: none;
    color:#52796F;
    display: flex;
}
.datas{
    margin-bottom: 24px;
}

.titre{
    width: 80px;
    line-height: 30px;
}

.body h3,.links{
    font-size: 20px;
}

.links a picture{
    display: block;
    margin-left: 8px;
}

.links a picture img{
    margin-top: 3px;
}

@media (min-width: 1024px) {
    .datas{
        display:flex;
        justify-content: space-between;
    }
    .datas p{
        width:50%;
        line-height: 20px;
        padding: 10px 25px 0 0 ;
        border-right:#52796F 1px solid;
        }
        .links a {
            margin-top: 0;
            margin-bottom: 16px;
        }
        .informations{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width:45%;
        }
}