.links{
    display: flex;
    flex-direction: column;
}
.links a{
    margin-top:16px;
    text-decoration: none;
    color:#52796F
}

.titre{
    width: 80px;
    line-height: 30px;
}

.body h3,.links{
    font-size: 20px;
}

