

.formulaire{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
.input-box {
    width:100%;
    margin-bottom: 1rem;
}

.field {
    width:100%;
    margin:0 auto;
    background: none;
    border-style: none;
    border-bottom: #CAD2C5 solid 1px;
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-size: 20px;
    margin-bottom: 30px;
}
.field::placeholder{
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-size: 20px;
    opacity: 20%;;
}

.mess {
    height: 115px;
}

.send{
    display: flex;
    padding:0;
    margin-right: auto;
    background: none;
    border-style: none;
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-weight: 300;
    font-size: 24px;
    line-height: 5;
    margin-bottom:20px;

}

.send picture{
    margin-top:1px;
    margin-left: 24px;
}

@media (min-width: 1024px) {
    .send{
        font-size: 48px;
        line-height: 3;
        margin-bottom: 0;
    }
    .send picture{
        margin-top: 5px;
    }
    .send img{
        content: url('../../../public/assets/arrowbig.png');
    }
    .field{
        padding-bottom: 15px;
    }
}