

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
.input-box {
    width:100%;
    margin-bottom: 1rem;
}

.field {
    width:95%;
    margin:0 auto;
    background: none;
    border-style: none;
    border-bottom: #CAD2C5 solid 1px;
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-size: 20px;
    margin-bottom: 30px;
}
.field::placeholder{
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-size: 20px;
    opacity: 20%;;
}

.mess {
    height: 115px;
}

.send{
    display: flex;
    margin-right: auto;
    background: none;
    border-style: none;
    color:#CAD2C5;
    font-family: 'Aspekta';
    font-size: 24px;
    line-height: 3;
}

.send picture{
    margin-left: 24px;
}