.infos{
    margin-left:16px;
    width: 90%;
}
.skills{
    display: flex;
    flex-wrap: wrap;

}
.balise{
    padding:2px 5px;
    margin:4px 8px 4px 0;
}

.infos p{

    margin: 0;
    font-family: "Red Hat Mono";
    color:#CAD2C5;
    font-size:16px;
    line-height: 20px;
}

.infos h1{
    font-size: 24px;
    font-weight: 300;
    color:#CAD2C5;

    margin:16px 0;
    line-height: 40px;;
}

.infos h2{
    font-size: 20px;
    color:#CAD2C5;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.competences{
    margin: 56px 0;
}

.infos a{
    text-decoration: underline;
    text-decoration-color: #CAD2C5; 
    color:inherit; 
    text-underline-offset: 4px;
}
.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.links a{
    margin:8px 0;
    font-weight: 300;
    color: #CAD2C5;
    letter-spacing: 1px;
    text-decoration: none;
}
.links a picture img{
    
}
.me{
    margin-bottom:8px;
}