
.skills{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:48px;
}
.balise{
    padding:2px 5px;
    margin:4px 8px 4px 0;
}

.infos p{
    font-family: "Red Hat Mono";
    color:#CAD2C5;
    font-size:16px;
    line-height: 20px;
}

.infos h1{
    font-size: 24px;
    font-weight: 300;
    color:#CAD2C5;
    margin:16px 0;
    line-height: auto;
}

.infos h2{
    font-size: 20px;
    color:#CAD2C5;
    text-transform: uppercase;
    font-weight: 400;
}

.competences{
    margin: 56px 0;
}

.infos a{
    text-decoration: underline;
    text-decoration-color: #CAD2C5; 
    color:inherit; 
    text-underline-offset: 4px;
}
.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.links a{
    display: flex;
    margin:8px 0;
    font-weight: 300;
    color: #CAD2C5;
    text-decoration: none;
}

.me img{
    width: 286px;
    height: 191px;
    margin-bottom:44px;
}

.links a picture{
    margin-left: 8px;
    display: block;
}
@media (min-width: 1024px) {
    .global {
      display: grid;
      grid-template-columns: 70% 30%; 
      grid-template-rows: 90px auto;
      max-height: 200px;
      row-gap:15px;
    }
  
    .skills {
      grid-column: 1;
      grid-row: 1; 
      width: 100%; 
      margin-bottom: 0;
    }
  
    .links {
      grid-column: 1; 
      grid-row: 2; 
      width: 100%; 
    }
  
    .me {
      grid-column: 2; 
      grid-row: 1 / span 2; 
      width: 100%; /* Assure que la largeur du conteneur est 100% de la colonne */
      display: flex; /* Utiliser flex pour aligner l'image */
      justify-content: flex-end; /* Aligner le contenu à droite */
    }
  
    .me img {
      width: 330px;
      height: 220px;
      padding-right: 0.5rem;
    }
  
    .infos p {
      width: 92%;
    }
  
    .infos h1 {
      font-size: 42px;
    }
  
    .balise {
      font-size: 24px;
    }
  
    .competences {
      margin: 24px 0;
    }
  
    .competences p {
      width: 70%;
    }
  }
  