.link {
    text-decoration: none;
}

.link .card { 
    margin-bottom: 24px;
}

.link .card p,
.link .card h3 {
    text-decoration: none;
    margin-bottom: 8px;
}

.link .card .image {
    object-fit: cover;
}

.link .card image {
    width: 100%;
}

.link .card .details {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 300;
    width:35%;
    color: #52796F;
    font-size: 16px;
}

.link .card .details .infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link .card .details .infos .skills {
    display: flex;
    margin-right: 32px;
}

.link .card .details .infos .skills .skill {
    color: #52796F;
    margin-right: 4px;
}

.link .card .details .infos .year {
    color: #52796F;
}

@media (min-width: 1024px) {
    .details h3, .skill, .year{
        font-size: 32px;
        margin-top:0;
        font-weight: 300;
    }
    .details h3{
        width:35%;
    }
    .image{
        position:absolute;
        bottom:32%;
        left:40%;
        width:285px;
        height:180px;
        opacity:0;
    }
    
}