.link{
    text-decoration: none;
    .card{ 
        margin-bottom:24px;
        p,h3 {
            text-decoration: none; 
            margin-bottom: 8px;
        }
        image{
            width:100%;
        }
        .details{
            display: flex;
            justify-content: space-between;
            .title{
                font-weight: 300;
                color: #52796F;  
                font-size: 16px;;
            }
            .infos{
                display:flex;
                justify-content: space-between;
                align-items: center;
                .skills{
                    display: flex;
                    margin-right:32px ;
                    .skill{
                        color: #52796F;
                        margin-right:4px;
                    }
                }
                .year{
                    color:#52796F;
                }
            };
        }
    }
    
}