.contact{
    background-color:#52796F;
    margin-bottom: 20px;
}
.body{
    width:90%;
    margin: 0 5%;
}
.contact h1{
    color: #CAD2C5;
    line-height: 30px;
}

.text{
    
    font-family: 'Red Hat Mono';
    color:#CAD2C5;
    font-size: 16px;;
    letter-spacing: 5%;
    line-height: 20px;;
}

.text a{
    color:#CAD2C5;
}