.contact{
    background-color:#52796F;
}
.body{
    width:90%;
    margin: 0 5%;
}
.contact h1{
    color: #CAD2C5;
    line-height: 30px;
}

.text{
    
    font-family: 'Red Hat Mono';
    color:#CAD2C5;
    font-size: 16px;;
    letter-spacing: 5%;
    line-height: 20px;;
}

.text a{
    color:#CAD2C5;
}

@media (min-width: 1024px) {
    .contact{
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
      }
    .body{
        display: flex;
        justify-content: space-between;
    }
    .phrases{
        width: 45%;
    }
    .form{
        margin-top: 15px;;
        width: 50%;
    }
    .phrases h1{
        line-height: 60px;
        margin:0;
    }
    .phrases p{
        width:85%;
        font-size: 20px;
        line-height: auto;
    }

  }
  