.projet{
    background-color:#CAD2C5 ;
}
.titre{
align-items: center;
height:auto;    
width:77px;
}

.projet h1{
    color:#52796F;
    height:40px;
    padding-left: 2px;
    margin-bottom: 0;
}

.projet p{
    font-family: 'Red Hat Mono';
    font-size: 16px;
    line-height: 20px;
    color:#52796F;
}
.body{
    margin:0 5%;
}

@media (min-width: 1024px) {
    .projet{
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
      }
    .projet h1{
        margin-top: 15px;
        height: auto;
    }
    .projet p{
        margin:0
    }
    .titre{
        padding: 0;
        width:96px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }
    
}