.projet{
    background-color:#CAD2C5 ;
}
.titre{
align-items: center;
height:25px;
padding-top:5px;
margin-left: 16px;
width:82px;
}

.projet h1{
    margin-top:8px;
    margin-bottom: 24px;
    color:#52796F;
    border-bottom: #52796F 1px solid;
    height:40px;
    padding-left: 2px;
}

.projet p{
    font-family: 'Red Hat Mono';
    font-size: 16px;
    line-height: 20px;
    color:#52796F;
}
.body{
    margin:0 5%;
}