.projets{
    background-color: #CAD2C5;
}
.titre{
    width:90px;
    font-size: 16px;
    height:auto;
}

.body{
    margin:0 5%;
}


@media (min-width: 1024px) {
    .projets{
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
      }
    .titre{
        width: 108px;
        line-height: 30px;
        font-size: 20px;
    }
    .body{
        padding-bottom: 110px;
    }
}